{% import_yaml slspath+"/defaults.yaml" as defaults %}

{% set consul = salt['pillar.get']('consul', default=defaults.consul, merge=True) %}

{## Add any overrides based on CPU architecture. ##}
{% set consul = salt['grains.filter_by']({
        'armv6l': {
            "arch": 'arm'
        },
        'armv7l': {
            "arch": 'arm'
        },
        'x86_64': {
            "arch": 'amd64'
        },
        'AMD64': {
            "arch": 'amd64'
        },
  }
  ,grain="cpuarch"
  ,merge=consul)
%}

{% set consul = salt['grains.filter_by']({
    'RedHat': {
      'temp_dir': '/tmp',
      'bin_dir': '/usr/local/bin',
      'config_dir': '/etc/consul.d',
      'runtime_dir': '/var/consul',
      'os': 'linux',
      'file_ext': '',
      'config': {'data_dir': '/usr/local/share/consul'},
      'nssm_version': '2.24',
      'nssm_hash': 'be7b3577c6e3a280e5106a9e9db5b3775931cefc',
    },
    'Windows': {
      'temp_dir': 'c:/Windows/Temp',
      'bin_dir': 'c:/consul.io/bin',
      'config_dir': 'c:/consul.io/conf',
      'runtime_dir': 'c:/consul.io/var',
      'os': 'windows',
      'file_ext': '.exe',
      'config': {'data_dir': 'c:/consul.io/data'},
      'nssm_version': '2.24',
      'nssm_hash': 'be7b3577c6e3a280e5106a9e9db5b3775931cefc',
    }
  }
  ,grain="os_family"
  ,merge=consul)
%}

{% do consul.config.update({'retry_join': consul.config.retry_join or []}) %}
